@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


header {
    background-color: #979BFC;
}

#nav-esquerda {
    background-color: #979BFC;
    font-family: "Baloo 2";
    font-weight: 900;
    font-size: 32px;
}

#nav-direita {
    background-color: #9d9d9d;
    font-family: "Source Sans 3";
    font-weight: 700;
    font-size: 36px;
}

#autores {
    background-color: #3e3e3e;
}

main {
    background-color: #eeeeee;
}


article {
    position:relative;
    display:inline-block;
}

figure {
    position: relative;
    text-align: center;
    color: white;
}

.titulo {
    color:beige;
    position:absolute;
    font-family: "Baloo 2";
    font-weight: 900;
    font-size: 32px;
    bottom:20%;
    left:2%;
}

.texto {
    font-family: "Nunito";
    position:absolute;
    font-weight: 500;
    font-size: 24px;
    bottom:10%;
    left:2%;
}